@font-face {
  font-family: Gang;
  src: url(/go3v2.ttf);
}

@font-face {
  font-family: Manga;
  src: url(/mangat.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.font-title-anime {
  font-family: Manga;
}

.font-logo {
  font-family: Gang;
  font-size: 1.2em;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-none {
  outline: none;
  border: none;
  transition: ease-in-out 60ms;
}

#bar {
  position: fixed;
  width: 30px;
  height: 100%;
  transition: ease-in-out 60ms;
}


main#application {
  margin-left: 30px;
  transition: ease-in-out 60ms;
}

#topApresentationBooks {}

#bar:hover {
  width: 140px;
}

#bar .img-resize {
  width: 20px;
  height: 20px;
  transition: ease-in-out 60ms;
}

#bar:hover .img-resize {
  width: 65px;
  height: 65px;
}

#bar:hover .menu-logo-none {
  display: none;
}

.object-none {
  display: none;
  transition: ease-in-out 60ms;
}

#bar .flex-custom {
  flex-direction: column;
  transition: ease-in-out 60ms;
}

#bar:hover .flex-custom {
  flex-direction: row;
}

#bar .object-flex {
  display: none;
  transition: ease-in-out 60ms;
}

#bar:hover .object-flex {
  display: flex;
}

#bar:hover .object-none {
  display: block;
}

#bar:hover~main#application {
  margin-left: 140px;
}



.absolute-full {
  position: absolute;
  display: none;
}

.img-tambs {
  background-position-x: center;
  background-repeat: no-repeat;
}

.relative-cls-pack {
  position: relative;
  background-color: transparent;
}

.bg-opacity-yellow {
  background-color: rgba(242, 255, 0, 0.23);
}

.bg-opacity-gray {
  background-color: rgba(158, 158, 158, 0.540);
}

.img-z {
  z-index: -1;
}

.relative-cls-pack:hover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(98, 98, 98, 0.378);
  border-radius: 50%;
}

.relative-cls-pack:hover .absolute-full {
  display: block;
  color: white;
  position: absolute;
}

.absolute-full:hover {
  color: #f0f0f0 !important;
}

.mg-780 {
  margin-left: 0px;
}


.books {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 4px;
  position: relative;
  z-index: 0;
  overflow-y: none;
  height: 215px;
  max-height: 240px;
  overflow-x: scroll;
  scroll-behavior: none;

  -ms-overflow-style: none;
  /* IE 11 */
  scrollbar-width: none;
  /* Firefox 64 */


  padding: 0px 10px 0px 12px;
}

.red {
  background-color: red !important;
}

#cardShowAction {
  position: absolute;

  top: 45%;
  left: 50%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  background-color: "black";

}

.books::-moz-hidden-unscrollable {
  display: none;
}

.books::-webkit-scrollbar-button {
  display: none;
}

.books::-webkit-scrollbar-track {
  display: none;
}

.books::-webkit-scrollbar-thumb {
  display: none;
}

.books::-webkit-scrollbar {
  display: none;
}

.books.books::-moz-hidden-unscrollable {
  display: none;
}

option {
  background-color: black;
  font-weight: 600;
  text-align: center;
}

.bookSlide {
  width: 80px;
  height: 95px;
}

option:nth-child(odd) {
  background-color: rgba(255, 136, 0, 0.636);
}

option:nth-child() {
  background-color: rgba(255, 136, 0, 0.636);
}

.swiper {
  z-index: -2;
  margin-inline: 3px !important;
  padding-inline: 28px !important;
}

.swiper-initialized {
  margin-block: 2px !important;
  padding-block: 2px !important;

}

.swiper-horizontal {
  margin-block: 0px !important;
}

.swiper-wrapper {
  z-index: -1;
  margin-block: 20px;
}

.swiper-slide {
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
}

#topApresentationBooks {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: visible;
}

.book {
  position: relative;
  width: 130px;
  height: 160px;
  transition: ease-in-out 150ms;
}

.book:hover {
  transform: scale(1.2);
  overflow: visible;
  box-shadow: 1px 1px 10px #ffab61;
  z-index: 1;
}

.book:hover .book-figcaption-visible {
  display: block;
  background-color: rgba(26, 26, 26, 0.622);
}





.book .book-img-visible {
  width: 100%;
  height: 100%;
}

.book .book-figcaption-visible {
  width: 100%;
  height: 100%;
  padding: 4px;
}

.book .book-figcaption-visible {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 10;
}